body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
}

hr {
    border-color: #a4a7aa !important;
}

.command-history {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
    margin-top: 10px;
}

.command-history li {
    margin-left: 10px;
    margin-bottom: 5px;
}

.dir-listing {
    height: 300px;
    border: 1px solid #ced4da;
}

.dir-path {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="30"><text x="5" y="24" fill="%23212529" style="font-family: -apple-system,BlinkMacSystemFont,\'Segoe UI\',Roboto,\'Helvetica Neue\',Arial,\'Noto Sans\',sans-serif,\'Apple Color Emoji\',\'Segoe UI Emoji\',\'Segoe UI Symbol\',\'Noto Color Emoji\';">[webroot]</text></svg>') no-repeat;
    padding-left: 75px;
}

.hide {
    display: none;
}