.idea
output
*.idx
*.fai
*.fxi
*egg*
dist
__pycache__
idealg_v
build
venv3
test/data/outplot
cprofile_run.log
test/data/raw/pipelines/pipeline_*/*/RUN*
!test/data/raw/pipelines/pipeline_*/*/RUN*/squig_plot_reads/
test/data/raw/pipelines/pipeline_1/real_variant_chr22